<mat-toolbar color="primary">
  <a href="/" class="logo" aria-label="Disco Recipes">
    <span>Disco Recipes</span>
  </a>
  <form [formGroup]="filterForm" (ngSubmit)="submit()" class="filter-form">
    <label for="filter" i18n>Filtrer par:</label>
    <select formControlName="filter" id="filter">
      <option disabled selected value i18n>Selectionner un filtre</option>
      <optgroup label="Catégories">
        <option *ngFor="let category of categories" [ngValue]="category">{{ category.strCategory }}</option>
      </optgroup>
      <optgroup label="Zones">
        <option *ngFor="let area of areas" [ngValue]="area">{{ area.strArea }}</option>
      </optgroup>
      <optgroup label="Ingrédients">
        <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">{{ ingredient.strIngredient }}</option>
      </optgroup>
    </select>
    <button type="submit" i18n>Filtrer</button>
  </form>
</mat-toolbar>
